.button {
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.2rem 3.6rem;
        box-shadow: 0 0 0 3px $color-secondary;
        border-radius: 12px;

        font-size: 3rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: 3px;
    }
}